.App {
 margin-top: 110px;
 margin-left: 40px;
 padding: 0;
}
nav{
  width: 100%;
  background-color:black ;
  height: 8vh;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;

}
 h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  
 }
.form{
   margin-top: 100px;
 
   
   
}
.form input{
  width: 30%;
  padding: 0.9rem;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
 



  
}
button{
  border: none;
  
}
.add{
  margin-left: 10px;
  font-size: 1.5rem;
  background-color: tomato;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0.9rem;  
  text-align: center;
 
  
  
  
}
.add:hover{
  box-shadow: 1px 0px 0px 2px black;
}

.add:active {
  font-size: 1rem;
  transform: scale(0.9);
}

.todo-container{
  margin-top: 3rem;
}


.todo-item{
  background-color: aliceblue;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0.7rem;

}
ul{
  padding: 0;
}
.mushkila{
  display: flex;
  align-items: center;
  

}
.mushkila li{
  margin-left: 10px;
  font-size: 1.7rem;
}
.checkmark {
  background-color: green;
  height: 25px;
  width: 25px;
  
}
.done{
  text-decoration: line-through;
}

.todo-item li{
  list-style: none;
  
}

.tick:active{
  transform: scale(0.9);
}

.trash{
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}

.trash:active{
  transform: scale(0.9);
}

form{
  display: flex;
}
select{
  padding: 0.5rem;
  margin-left: 10px;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width:1300px) {
  .form input{
    width: 50%;
    padding: 0.9rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;

  }

}


@media screen and (max-width:900px) {


  .form input{
    width: 70%;
    padding: 0.9rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;

  }
  .todo-item{
    width: 90%;
  }

  .add{
   
    font-size: 1rem;
    padding: 0.4rem;  
    
    
  }

  select{

   
    padding: 0.9rem 0 0.9rem 0;

    
    font-size: 1rem;

  }

  
}


@media screen and (max-width:600px) {

  .App{
    margin-top: 60px;
    margin-left: 10px;
  }

  nav{
    height: 10vh;
  }

  h1{
    font-size: 1.8rem;
    position: absolute;
    color: white;
    top: 20px;
    padding: 0;
    margin: 0;

  }
  form{
    flex-direction: column;
    
  }
  .form{
    margin-top: 100px!important;
  }
  .add{
    width: 23%;
    margin: 10px;
    font-size: 2rem;

  }

  .form input{
    width: 90%;
    padding: 0.9rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    

  }
  
.todo-item{
  padding: 0.2rem;
}


}


@media screen and (max-width:400px) {

  h1{
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  .add{
    
    width: 23%;
    font-size: 1rem;
  }

  select{
    width: 23%;
    padding: 0.4rem;  
  }

  .todo-item{
    padding: 0;
  }
  .trash{
    padding: 0.3rem;
  }
}