
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
  /* background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
   */
   background-color: #B4CFB0;
  background-repeat: no-repeat;
  background-size: contain;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
